/* 无 */
/* 主体 */
.entry {
  height: 500px;
  background-color: aliceblue;
}

.entry .w {
  position: relative;
  height: 100%;
}

.category {
  position: absolute;
  top: 0;
  left: 0;
  /* 提高层级 */
  z-index: 999;
  height: 500px;
  width: 250px;
  background: rgba(0, 0, 0, 0.42);
}

.category ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 0 14.5px 0 29px;
  color: #ffffff;
}
.category ul li:hover {
  background-color: #00be9a;
}
.category ul li a {
  color: #ffffff;
  font-size: 14px;
}
.category ul li a:first-child {
  color: #ffffff;
  font-size: 16px;
  margin-right: 10px;
}

/* 轮播图 */
.banner {
  position: relative;
}

.banner .circle {
  position: absolute;
  right: 25px;
  bottom: 15px;
  display: flex;
  gap: 15px;
}
.banner .circle li {
  width: 16px;
  height: 16px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}
.banner .circle li:hover {
  background-color: #ffffff;
  box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, 0.5);
}

.banner .next,
.banner .prev {
  position: absolute;
  top: 50%;
  width: 40px;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.42);
  margin-top: -30px;
}

.banner .next {
  right: 0px;
}

.banner .next i,
.banner .prev i {
  font-size: 40px;
  color: #ffffff;
  text-align: center;
  line-height: 60px;
}

.banner .prev {
  left: 250px;
}

.box-hd {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  height: 112px;
  /* background-color: pink; */
}

.box-hd h2 {
  font-size: 30 px;
}

.box-hd h2 small {
  margin-left: 30px;
  font-size: 16px;
  color: #a1a1a1;
}

.box-hd a {
  font-size: 16px;
  color: #a1a1a1;
}

.box-bd ul {
  display: flex;
  justify-content: space-between;
}
.box-bd ul li {
  height: 404px;
  width: 304px;
  background-color: #eef9f4;
  text-align: center;
}
.box-bd ul li a {
  display: block;
  height: 404px;
  width: 304px;
}

.box-bd ul li img {
  height: 304px;
  width: 304px;
}
.box-bd ul li h3 {
  font-size: 20px;
  margin: 17.5px 0 9px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.box-bd ul li .price small {
  font-size: 18px;
  color: #aa2113;
}
.box-bd ul li .price {
  font-size: 22px;
  color: #aa2113;
}

/* 人气推荐 */
.hot .box-bd ul li {
  background-color: #ffffff;
}

.hot .box-bd ul li a .desc {
  color: #a1a1a1;
  font-size: 16px;
  margin-top: 15px;
}
.hot {
  margin-bottom: 60px;
}

/* 热门品牌 */
.brand {
  /* width: 1920px; */
  height: 468px;
  background-color: #f5f5f5;
}

.box-1 {
  height: 122px;
  background-color: #f5f5f5;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box-1 h2 {
  font-size: 30px;
}

.box-1 h2 small {
  margin-left: 30px;
  font-size: 16px;
  color: #a1a1a1;
}
.box-2 ul {
  height: 306px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.box-2 ul li {
  height: 306px;
  width: 244px;
  background-color: #7dc8db;
}

.head {
  height: 102px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}
.head ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 13px;
}
.head ul li {
  font-size: 16px;
}
.head ul li a {
  height: 100%;
  padding: 3px 8px;
  margin-left: 20px;
  color: #a1a1a1;
  font-size: 16px;
}
.head ul li:last-child a {
  margin-left: 50px;
}

.head .active a:hover {
  background-color: #00be9a;
  color: #ffffff;
}

.body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.body a {
  display: block;
  width: 248px;
  height: 610px;
  /* background-color: #f8dbdb; */
}

.body a img {
  width: 248px;
  height: 610px;
}

.body .body-right {
  /* background-color: #00be9a; */
  height: 610px;
  width: 968px;

  display: flex;
  flex-wrap: wrap;
}
.body .body-right li {
  height: 305px;
  width: 242px;
  padding: 10px 21px 0;
  /* background-color: #f4b4b4; */
}

.body .body-right li a {
  display: block;
  width: 100%;
  height: 100%;
}
.body .body-right li a img {
  width: 200px;
  height: 180px;
}
.body .body-right li a h3 {
  font-size: 16px;
  margin-top: 10px;
}
.body .body-right li a p {
  font-size: 16px;
  margin-top: 5px;
}

.body .body-right .price {
  margin-top: 10px;
  font-size: 22px;
  color: #aa2113;
}
.body .body-right .price small {
  font-size: 16px;
  color: #aa2113;
}

/* 最新专题 */
.news {
  height: 355px;
  /* background-color: #00be9a; */
}

.news ul {
  height: 355px;
  display: flex;

  /* background-color: #7dc8db; */
  gap: 12px;
}
.news ul li {
  flex: 1;
  height: 355px;
  width: 405px;
  /* background-color: #714747; */
}

.news ul li a .con {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 67px;
  padding: 0 15px 0;
}

.news ul li a .con span {
  margin-right: 20px;
}
